@using MudBlazor
@using ReserGO.UI.Utils



<div class="d-flex flex-column align-items-center justify-content-center h-100 w-100 listScheduleContainer">
    <div class="d-flex justify-content-center gridContainer">

        <MudGrid Spacing="@Spacing" Justify="Justify.Center" Style="align-items:center;">
            <MudItem>
                <div class="d-flex flex-row">
                    <ScheduleCard Icon="@InformationIcon" />
                    <ScheduleCard Icon="@InformationIcon" />
                    <ScheduleCard Icon="@InformationIcon" />
                </div>
            </MudItem>
             <MudItem>
                <div class="d-flex flex-row">
                    <ScheduleCard Icon="@InformationIcon" />
                    <ScheduleCard Icon="@InformationIcon" />
                    <ScheduleCard Icon="@InformationIcon" />
                </div>
            </MudItem>
          
             <MudItem>
                <div class="d-flex flex-row">
                    <ScheduleCard Icon="@InformationIcon" />
                    <ScheduleCard Icon="@InformationIcon" />
                    <ScheduleCard Icon="@InformationIcon" />
                </div>
            </MudItem>
          
             <MudItem>
                <div class="d-flex flex-row">
                    <ScheduleCard Icon="@InformationIcon" />
                    <ScheduleCard Icon="@InformationIcon" />
                    <ScheduleCard Icon="@InformationIcon" />
                </div>
            </MudItem>
          
             <MudItem>
                <div class="d-flex flex-row">
                    <ScheduleCard Icon="@InformationIcon" />
                    <ScheduleCard Icon="@InformationIcon" />
                    <ScheduleCard Icon="@InformationIcon" />
                </div>
            </MudItem>
            
        </MudGrid>

    </div>
</div>


@code {
    public int Spacing { get; set; } = 1;
    private string InformationIcon = "";


    protected override void OnInitialized()
    {
        InformationIcon = Icons.Material.Filled.Today;
    }
}
