@using MudBlazor

<div class="d-flex flex-column shadow cardAction" @onclick="@(()=> Click())" style="@CardStyle">
    <div class="d-flex justify-content-center align-items-center cardHeader">
        @if(Icon.Length > 1)
        {
            <MudIcon Icon="@Icon" Class="iconCardReserGoCss" />
        }
        @if (Title.Length > 1)
        {
            <span class="text" style="padding-inline:1vw;">@Title</span>
        }
    </div>
    <div class="d-flex align-items-center cardBodyReserGo" style="@BodyStyle">
        @Description
    </div>
</div>

@code {

    [Parameter]
    public EventCallback Callback { get; set; }

    [Parameter]
    public string Title { get; set; } = "Titolo";

    [Parameter]
    public string Description { get; set; } = "Descrizione...";

    [Parameter]
    public string Icon { get; set; } = "";

    [Parameter]
    public string? CardStyle { get; set; } = "";
    
    [Parameter]
    public string? BodyStyle { get; set; } = "";

    protected override void OnInitialized(){
    }

    private async Task Click()
    {
        if (Callback.HasDelegate)
        {
            await Callback.InvokeAsync();
        }
    }
}

<style>
    .iconCardReserGoCss{
        color:white;
        font-size:2.5vw !important;
    }
</style>
