@using MudBlazor;
@using ReserGO.ViewModel.Interface.Utils;
@using ReserGO.Utils.UI
@using ReserGO.Service.Interface.Service
@inject ITranslateService t

@inherits BaseComponentChild<ILoadingSpinnerViewModel, object>
@if (CurrentViewModel is object && CurrentViewModel.LoadingSpinner is object && CurrentViewModel.LoadingSpinner.IsLoading)
{
    @if (!String.IsNullOrEmpty(CurrentViewModel.LoadingSpinner.Text))
    {
        <div class="overlayText" style="backdrop-filter: blur(40px);">
            <div class="wrapper">
                <div class="bgtext">
                    @if (CurrentViewModel.LoadingSpinner.NoTranslate)
                    {
                        <span>@CurrentViewModel.LoadingSpinner.Text</span>
                    }
                    else
                    {
                        <span>@(t.Words[CurrentViewModel.LoadingSpinner.Text])</span>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="overlay">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" Class="mudProgressCircular" />
        </div>
    }


}
@{
    <style>
        .mudProgressCircular {
            height: @CurrentViewModel.Dimension;
            width: @CurrentViewModel.Dimension;
        }

        ::deep .mud-progress-circular.mud-progress-medium {
            height: @CurrentViewModel.Dimension;
            width: @CurrentViewModel.Dimension;
        }
    </style>
}
<style>
    .mudProgressCircular {
        color: #006;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999999; /* Assicurati che sia sopra gli altri elementi */
    }

    .overlayText {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999999; /* Assicurati che sia sopra gli altri elementi */
    }

    .textSpinner {
        position: absolute;
        text-align: center;
        color: black;
    }
</style>