@using MudBlazor
@using ReserGO.Utils.DTO.Utils;
@using ReserGO.Service.Interface.Service
@inject ITranslateService t

<MudDialog Options="@Options" >
    <TitleContent>
        <div class="d-flex justify-content-between align-items-center w-100 titleContentConfirmValidate">
            <b>@(t.Words["Valida prenotazione"])</b>
            <MudIconButton Icon="@Icons.Material.Filled.Clear" Color="Color.Default" OnClick="() => Close(BookingStatus.Pending)" />
        </div>
    </TitleContent>
    <DialogContent>
        <div class="d-flex flex-column justify-content-center p-5" style="text-align:center">
            <b>@(t.Words["Attenzione cambio stato"])</b><br />
            @(t.Words["Valida prenotazione desc"])
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="() => Close(BookingStatus.Canceled)">@(t.Words["Annulla"])</MudButton>
        <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="() => Close(BookingStatus.Confirmed)">@(t.Words["Conferma"])</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [Parameter]
    public EventCallback<BookingStatus> Callback { get; set; }
    public DialogOptions Options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Large,
            NoHeader = true,

        };
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    public async Task Close(BookingStatus status)
    {
        if (Callback.HasDelegate && status!= BookingStatus.Pending)
            await Callback.InvokeAsync(status);
        MudDialog.Close();
    }
}

<style>
    .titleContentConfirmValidate
    {
        background: #0066FF;
        color:white;
        padding:15px;
    }

    .mud-dialog .mud-dialog-title {
        padding: 0 !important;
    }

    .mud-dialog .mud-dialog-actions {
        justify-content: space-around !important;
    }
</style>
