@using MudBlazor
@using ReserGO.DTO
@using ReserGO.Utils.DTO.Utils;
@using ReserGO.Miscellaneous.Model;
@using ReserGO.Service.Interface.Service
@inject ITranslateService t

<MudDialog Options="@Options" Class="dialogServiceModal">
    <TitleContent>
        <div class="d-flex justify-content-between align-items-center w-100 titleContentConfirmValidate">
            <b>@(t.Words["Dettaglio servizi"])</b>
            <MudIconButton Icon="@Icons.Material.Filled.Clear" Color="Color.Default" OnClick="() => Close(false)" />
        </div>
    </TitleContent>
    <DialogContent>
        <div class="d-flex flex-column p-4 modalBody">
            <ul>
            @foreach(var service in Services)
            {
                <li style="padding-block:2vh;" >@service.ServiceName</li>
            }
            </ul>
        </div>
    </DialogContent>
    <DialogActions>
        <div class="d-flex w-100 p-2 justify-content-center " style="height:10%;" >
            <MudButton Class="btn-css" Color="Color.Default" Variant="Variant.Filled" OnClick="() => Close(false)">@(t.Words["Chiudi"])</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {
    [Parameter]
    public List<DTOService> Services { get; set; }

    [Parameter]
    public bool IsSmallView { get; set; }

    public DialogOptions Options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Large,
            NoHeader = true,

        };
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    public async Task Close(bool value)
    {
        MudDialog.Close();
    }
}

<style>
    .titleContentConfirmValidate {
        background: #0066FF;
        color: white;
        padding: 15px;
        font-size:x-large;
    }

    .mud-dialog .mud-dialog-title {
        padding: 0 !important;
    }

    .mud-dialog .mud-dialog-actions {
        justify-content: space-around !important;
    }

    .dialogServiceModal{
        border-radius:30px !important;
        width: 25vw !important;
    }

    .btn-css{
        width:40% !important;
    }

    .modalBody{
        text-align: center;
        max-height: 50vh;
        overflow: auto;
        scrollbar-color: #0066FF transparent;
        font-size:large;
    }

</style>
