@using ReserGO.Miscellaneous.Model
@using ReserGO.UI.FiltersComponent
@using MudBlazor
@using ReserGO.ViewModel.Interface.FiltersComponent
@using ReserGO.ViewModel.Interface.Register
@using ReserGO.DTO
@using ReserGO.Utils.UI
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using ReserGO.UI.Utils
@using ReserGO.UI.Login
@using ReserGO.ViewModel.Interface.Schedule;
@using ReserGO.Miscellaneous.Model
@using ReserGO.Utils.DTO.Utils
@using ReserGO.UI.FiltersComponent
@using ReserGO.DTO.ListAvailability

@inherits BaseComponentChild<IModalScheduleViewModel, DTOResource>

<MudDialog Class="@(CurrentViewModel.IsSmallView ? "scheduleDialogCssSmall" : "scheduleDialogCss")" Visible="CurrentViewModel.IsOpen" OnBackdropClick="OnBackdropClickHandler" Options="@Options">
    <TitleContent>

    </TitleContent>

    <DialogContent>

        @if (CurrentViewModel.IsSmallView)
        {
            <div class="d-flex flex-column smallDialogContainer">

                <div class="d-flex flex-row p-3 headerDialogSmall">
                    <span class="d-flex align-items-center h-100 headerTextSmall">Prenotazione</span>
                    <span class="d-flex align-items-end" style="width:10%;height:100%;" onclick="@(() => CurrentViewModel.Close())">
                        <MudIcon Icon="@Icons.Material.Filled.Close" Style="font-size: x-large; color:white;" />
                    </span>
                </div>
                <div class="d-flex flex-column justify-content-center tabHeader">
                    <MudTabs Elevation="4" Rounded="true" Color="@Color.Primary" NextIcon="@String.Empty" PrevIcon="@String.Empty" @bind-ActivePanelIndex="CurrentViewModel.SelectedIndex">
                        <MudTabPanel Text="Giorno">
                            <div class="d-flex p-2 justify-content-center w-100 h-100">
                                <Calendar DisabledWhen="CurrentViewModel.DayDisabled" OnClick="@(async (DateTime date) => await CurrentViewModel.GetSlot(date) )" IsSmallView="true" />
                            </div>
                        </MudTabPanel>
                        <MudTabPanel Text="Orario">
                            <div class="d-flex flex-column columnCalendar" style="width:50%;">
                            <TimeSchedule TimeSlots="CurrentViewModel.TimeSlots"
                                          OnClick="@((DTOTimeSlot selectedSlot) => SetSlot(selectedSlot))" IsLoading="@CurrentViewModel.SlotLoading" IsFirstLoading="@CurrentViewModel.IsFirstLoad"></TimeSchedule>
                        </div>
                        </MudTabPanel>
                        <MudTabPanel Text="Anagrafica" Disabled="_selectedSlot==null">
                            <BaseComponent TViewModel="IScheduleFormViewModel" TModel="DTOUserLight">
                                <Content>
                                    <ScheduleForm Callback="@((DTOUserLight user) => SetUser(user))" />
                                </Content>
                            </BaseComponent>
                            </MudTabPanel>
                        <MudTabPanel Text="Conferma" Disabled="@((CurrentViewModel.Booking.User==null || !CurrentViewModel.IsLoggedIn()) || _selectedSlot==null)">
                                <ConfirmSchedule Booking="@CurrentViewModel.Booking" OnClick="@(async (bool submit) => await CurrentViewModel.InsertBooking(submit))" />
                            </MudTabPanel>

                    </MudTabs>
                    <div class="d-flex justify-content-around" style="background-color:white">
                        <MudButtonGroup>
                            <div class="btn-calendar-small">

                            <MudTooltip Text="Prepend a tab">
                                <MudIconButton Icon="@Icons.Material.Filled.ChevronLeft" OnClick="@( () => CurrentViewModel.SelectedIndex-- )" />
                            </MudTooltip>
                            </div>
                            <div class="btn-calendar-small">
                            <MudTooltip Text="Append a tab">
                                <MudIconButton Icon="@Icons.Material.Filled.ChevronRight" OnClick="@( () => CurrentViewModel.SelectedIndex++ )" />
                            </MudTooltip>
                            </div>
                        </MudButtonGroup>
                    </div>
                </div>

            </div>
        }
        else
        {

            <div class="d-flex dialogScheduleContainer p-1">
                <MudTabs Elevation="4" Rounded="true" Centered="true" Color="@Color.Primary" @ref="tabs" @bind-ActivePanelIndex="CurrentViewModel.SelectedIndex">
                    <MudTabPanel Text="Giorno e ora">
                        <div class="d-flex flex-column justify-content-around columnCalendar" style="width:50%;">
                            <Calendar DisabledWhen="CurrentViewModel.DayDisabled" OnClick="@(async (DateTime date) => await CurrentViewModel.GetSlot(date) )" />
                        </div>

                        <div class="d-flex flex-column justify-content-center h-100">
                            <div class="scheduleDivider"></div>
                        </div>

                        <div class="d-flex flex-column columnCalendar" style="width:50%;">
                            <TimeSchedule TimeSlots="CurrentViewModel.TimeSlots"
                                          OnClick="@((DTOTimeSlot selectedSlot) => SetSlot(selectedSlot))" IsLoading="@CurrentViewModel.SlotLoading" IsFirstLoading="@CurrentViewModel.IsFirstLoad"></TimeSchedule>
                        </div>
                    </MudTabPanel>
                    @if (CurrentViewModel.UserIs(RoleConst.GUEST))
                    {
                        <MudTabPanel Text="Anagrafica" Disabled="_selectedSlot==null">
                            <BaseComponent TViewModel="IScheduleFormViewModel" TModel="DTOUserLight">
                                <Content>
                                    <ScheduleForm Callback="@((DTOUserLight user) => SetUser(user))" />
                                </Content>
                            </BaseComponent>

                        </MudTabPanel>
                    }
                    <MudTabPanel Text="Conferma" Disabled="@((CurrentViewModel.Booking.User==null || !CurrentViewModel.IsLoggedIn()) || _selectedSlot==null)">
                        <ConfirmSchedule Booking="@CurrentViewModel.Booking" OnClick="@(async (bool submit) => await CurrentViewModel.InsertBooking(submit))" />
                    </MudTabPanel>
                </MudTabs>
            </div>
        }

    </DialogContent>

</MudDialog>

@code {

    private MudTabs tabs;

    [Parameter]
    public EventCallback<DateTime> OnClick { get; set; }

    private DateTime _date { get; set; } = DateTime.Now;


    public DialogOptions Options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraLarge,
            NoHeader = true,
        };

    private DTOTimeSlot _selectedSlot { get; set; }

    private DateTime _dateTimeSelected { get; set; }

    private void SetSlot(DTOTimeSlot slot)
    {
        if (slot != null)
        {
            _selectedSlot = slot;
            CurrentViewModel.Booking.StartDateTime = CurrentViewModel.Booking.StartDateTime.Date.Add(slot.StartTime);
            CurrentViewModel.Booking.EndDateTime = CurrentViewModel.Booking.EndDateTime.Date.Add(slot.EndTime);
            CurrentViewModel.SelectedIndex = 1;
        }
    }

    private void SetUser(DTOUserLight user)
    {
        if (user != null)
        {
            CurrentViewModel.Booking.User = user;
            CurrentViewModel.SelectedIndex = 2;
        }
    }
    private async Task OnBackdropClickHandler(MouseEventArgs e)
    {
        CurrentViewModel.Close();
    }

    protected override async Task OnInitializedAsync()
    {
        await CurrentViewModel.RegisterOnScreenResize(800);
    }

    public async Task OnDateChanged(DateTime? date)
    {
        _date = date.Value;
        if (OnClick.HasDelegate)
            await OnClick.InvokeAsync(date.Value);
    }

}

<style>
    .scheduleDialogCss {
        width: 70%;
        height: 60%;
        max-width: 70% !important;
        border-radius: 30px !important;
    }

    .scheduleDialogCssSmall {
        width: 90%;
        height: 80%;
        max-width: 90% !important;
        border-radius: 30px !important;
    }

    .scheduleCalendarCss {
        border: 1px solid lightgray;
        border-radius: 15px;
    }

    .mud-tabs {
        width: 100%;
    }

    .mud-tabs-panels {
        display: flex;
        height: 100%;
    }

    .mud-tab-slider.mud-tab-slider-horizontal {
        /* width: 33% !important; */
    }

    .mud-tabs-tabbar.mud-tabs-rounded.mud-tabs-tabbar-primary.mud-elevation-4 {
        border-radius: 20px !important
    }

</style>

@if (CurrentViewModel.IsSmallView)
{
    <style>
        .mud-tabs-tabbar-secondary {
            background-color: #0066FF !important;
            color: var(--mud-palette-secondary-text);
            max-width: 85%;
        }

        .mud-tab {
            min-width: unset;
        }

        .mud-tabs {
            align-items: center !important;
            box-shadow: none !important;
        }

        .mud-elevation-4 {
            box-shadow: none !important;
        }

        .mud-tabs-panels {
            background-color: white !important;
            width: 100% !important;
            height: 100% !important;
        }

        .mud-button-group-root {
            border-radius: var(--mud-default-borderradius);
            display: inline-flex;
            width:85% !important;
        }

        button.mud-button-root.mud-icon-button.mud-ripple.mud-ripple-icon {
            border-left:none !important;
        }
    </style>
}

