@using MudBlazor
@using ReserGO.DTO
@using ReserGO.Miscellaneous.Model
@using ReserGO.Utils.UI
@using ReserGO.ViewModel.Interface.Schedule

@inherits BaseComponentChild<IScheduleServicesViewModel, DTOService>
<div class="d-flex p-3 @(IsSmallView ? "p-3":"")">
    <span class="titleServiceSelection" style="@(IsSmallView ? "font-size:larger; text-align:center;":"")">Seleziona i servizi che intendi prenotare</span>
</div>

<div class="d-flex w-100 h-100" style="@(IsSmallView ? "padding-block:1vh;max-height:73%;":"padding-block:2vh;") overflow:auto;">
    <div class="d-flex w-100 descriptionServiceSelection @(IsSmallView ? "flex-column":"flex-wrap")" style="@(IsSmallView ? "font-size:medium; height:100%;":"height:100%;")">
        @foreach (var service in CurrentViewModel.ServicesListCheckable)
        {
            <div class="d-flex @(IsSmallView ? "p-2":"p-3")" style="@(IsSmallView ? "height:12vh ":"height:9vh")">
                <div class="d-flex p-2 shadow align-items-center justify-content-between checkboxCard w-100 h-100">
                    @if (IsSmallView)
                    {
                        <span>@((MarkupString)$"{service.Service.ServiceName} <br/> {service.Service.Price?.ToString() ?? "N/A"} €")</span>
                    }
                    else
                    {
                        <span>@($"{service.Service.ServiceName} | {service.Service.Price?.ToString() ?? "N/A"} €")</span>
                    }
                    <!-- Usa un checkbox con binding per ogni servizio -->
                    <MudCheckBox Value="service.IsSelected" Color="Color.Primary" ValueChanged="@((bool value) => UpdateTotal(value, service))"></MudCheckBox>
                </div>
            </div>
        }
    </div>
</div>

<div class="d-flex flex-row align-self-end justify-content-end priceServiceSelection" style="padding:0px; font-size:large; color:#555555;">
    @if (IsSmallView)
    {
        <span style="font-size:medium;color:grey;">Durata: @GetMinutes() h</span>
    }
    else
    {
        <span>Tempo stimato: @GetMinutes() h</span>
    }
</div>
<!-- Totale aggiornato dinamicamente -->
<div class="d-flex flex-row align-self-end justify-content-end priceServiceSelection" style="padding-top:0px;">
    @if (IsSmallView)
    {
        <span style="font-size:large;">Tot: @GetTotalPrice() €</span>
    }
    else
    {
        <span>Totale: @GetTotalPrice() €</span>
    }
</div>


@if (!IsSmallView)
{
    <div class="d-flex flex-row align-self-end justify-content-center">
        <div class="d-flex" style="height:30%">
            <MudButton class="registerButton btn-primary" style="width:15vw; height:8vh;" @onclick="(() => Next())" Disabled="CurrentViewModel.List.Count()==0">Procedi</MudButton>
        </div>
    </div>
}


@code {

    [Parameter]
    public EventCallback<(List<DTOService>? Services, bool Next)> CallBack { get; set; }

    [Parameter]
    public bool IsSmallView { get; set; }

    [Parameter]
    public DTOResource Resource { get; set; }

    [Parameter]
    public List<DTOService> LastServices { get; set; }

    public List<DTOService>? ServicesList { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        ServicesList = Resource.Services.Select(x=> (DTOService)x.Clone()).ToList();
        CurrentViewModel.ServicesListCheckable = ServicesList.Select(x => new DTOServiceSelectable(x)).ToList();

        if (LastServices != null && LastServices.Any())
        {
            var ids = LastServices.Select(x => x.Id);
            CurrentViewModel.ServicesListCheckable.ForEach(s =>
            {
                if (ids.Contains(s.Service.Id))
                    s.IsSelected = true;
            });
        }
    }

    // Metodo per aggiornare il totale quando cambia la selezione
    private async Task UpdateTotal(bool value, DTOServiceSelectable service)
    {
        if (ServicesList == null)
            return;

        service.IsSelected = value;

        if (value)
            CurrentViewModel.List.Add(service.Service);
        else
            CurrentViewModel.List = CurrentViewModel.List.Where(x => x.ServiceName != service.Service.ServiceName).ToList();

        var list = CurrentViewModel.ServicesListCheckable.Where(x => x.IsSelected).Select(x => x.Service).ToList();
        if (CallBack.HasDelegate)
            await CallBack.InvokeAsync((list, false));

    }

    private decimal GetTotalPrice()
        => CurrentViewModel.ServicesListCheckable
            .Where(s => s.IsSelected && s.Service.Price.HasValue)
            .Sum(s => s.Service.Price.Value);

    private string GetMinutes()
    {
        int minuti = CurrentViewModel.ServicesListCheckable
        .Where(s => s.IsSelected && s.Service.Price.HasValue)
        .Sum(s => s.Service.Duration);
        int ore = minuti / 60;
        int minutiRimanenti = minuti % 60;
        return $"{ore:D2}:{minutiRimanenti:D2}";
    }

    public async Task Next()
    {
        var list = CurrentViewModel.ServicesListCheckable.Where(x => x.IsSelected).Select(x => x.Service).ToList();
        if (CallBack.HasDelegate && !IsSmallView)
            await CallBack.InvokeAsync((list, true));
    }
}