@using MudBlazor;
@using ReserGO.UI.Utils
@using ReserGO.Utils.UI
@using ReserGO.ViewModel.Interface.Header
@using ReserGO.UI.Schedule
@using ReserGO.Miscellaneous.Model
@using ReserGO.ViewModel.Interface.Schedule
@using ReserGO.DTO;
@using ReserGO.Utils.DTO.Utils

@inherits BaseComponentChild<IScheduleViewModel,DTOResource>

<div class="d-flex flex-column p-0 h-100 homeGuestScheduleContainer">
    <div class="d-flex flex-row justify-content-between p-0 h-100 homeGuestScheduleBody">
        <div class="d-flex leftSideSchedule justify-content-center align-items-center" style="@(CurrentViewModel.IsSmallView ? "display:none !important":"")" >
            @if (OpenDetailsCard)
            {
                <ScheduleCardDetails CardStyle="@(CurrentViewModel.UserIs(RoleConst.GUEST) ? "width:90%;height:80vh;" : "width:95%;height:80vh;")" Icon="@InformationIcon" CallbackOpenModal="@( async (int idResource) => await CurrentViewModel.OpenModalCalendar())" Resource="@CurrentViewModel.SelectedItem" IsLoading="@CurrentViewModel.LoadingFullResource" />
            }
            else
            {
                @if (CurrentViewModel.IsLoading)
                {
                    <div style="position:fixed;">
                        <span class="loadingText" >In attessa della risorsa...</span>
                    </div>
                }
                else
                {   
                    <CardReserGo Title=" " Description="Seleziona Risorsa" CardStyle="opacity:0.5;" BodyStyle="@CardItemEmptyStyle" Icon="@InformationIcon" />
                }
            }
        </div>
        <div class="d-felx @(CurrentViewModel.IsSmallView ? "rightSideScheduleSmall h-100":"rightSideSchedule")">
            <ListSchedules Callback="@( async (int idResource) => await OpenModalCalendar(idResource))" Resources="CurrentViewModel.List" IsLoading="CurrentViewModel.IsLoading" IsSmallView="@CurrentViewModel.IsSmallView" />
        </div>
    </div>
</div>

<BaseComponent TViewModel="IModalScheduleViewModel" TModel="DTOResource">
    <Content>
        <ModalSchedule />
    </Content>
</BaseComponent>


@code {
    private string InformationIcon = "";

    private string CardItemEmptyStyle = "";

    private bool OpenDetailsCard;

    private bool ShowModal = false;

    protected override async Task OnInitializedAsync()
    {
        await CurrentViewModel.RegisterOnScreenResize(800);
        InformationIcon = Icons.Material.Filled.Today;
        CardItemEmptyStyle = "background-color:#0066FF;color:#FFFFFF;font-size:xx-large;justify-content: center;font-family:ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;";
        await CurrentViewModel.Refresh();
    }

    private async Task GetData(int idResource)
    {
        OpenDetailsCard = true;
    }

    private async Task OpenModalCalendar(int idResource)
    {
        await CurrentViewModel.GetFullResource(idResource);

        if (CurrentViewModel.IsSmallView)
            await CurrentViewModel.OpenModalCalendar();
        else
            OpenDetailsCard = true;
    }

}


<style>
    .mud-paper.mud-elevation-1 {
        background: white !important;
    }
</style>