@using MudBlazor
@using ReserGO.Utils.DTO.Utils;
@using ReserGO.Miscellaneous.Model;
@using ReserGO.Service.Interface.Service;
@inject ITranslateService t

<MudDialog Options="@Options" Class="@(IsSmallView ? "dialogResetPasswordSmall":"dialogResetPassword")">
    <TitleContent>
        <div class="d-flex justify-content-between align-items-center w-100 titleContentResetPassword">
            <b>@Modal.Title</b>
            <MudIconButton Icon="@Icons.Material.Filled.Clear" Color="Color.Default" OnClick="() => Close(false)" />
        </div>
    </TitleContent>
    <DialogContent>
        <div class="d-flex flex-column justify-content-center p-5" style="text-align:center; font-size:large">
            @((MarkupString)Modal.Text)
        </div>
    </DialogContent>
    <DialogActions>
        @if (Modal.TypeActionsGRID == TypeActionsGRID.GENERIC_DELETE)
        {
            <div class="d-flex justify-content-around p-4 w-100">
                <MudButton Color="Color.Default" Variant="Variant.Filled" OnClick="() => Close(false)">@(t.Words["Chiudi"])</MudButton>
                <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="() => Close(true)">@(t.Words["Salva"])</MudButton>
            </div>
        }
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public GenericModal<bool> Modal { get; set; }

    [Parameter]
    public bool IsSmallView { get; set; }

    public DialogOptions Options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Large,
            NoHeader = true,

        };
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    public async Task Close(bool value)
    {
        if (Modal.Event.HasDelegate && value)
            await Modal.Event.InvokeAsync(value);
        MudDialog.Close();
    }
}

<style>
    .titleContentResetPassword {
        background: #0066FF;
        color: white;
        padding: 15px;
        font-size: x-large;
    }

    .mud-dialog .mud-dialog-title {
        padding: 0 !important;
    }

    .mud-dialog .mud-dialog-actions {
        justify-content: space-around !important;
    }

    .dialogResetPassword {
        border-radius: 30px !important;
        width: 30vw !important;
        height: 40vh !important;
    }

    .dialogResetPasswordSmall {
        border-radius: 30px !important;
        height: 75vh !important;
    }
</style>