@using Microsoft.AspNetCore.Components.Routing
@using MudBlazor;
@using ReserGO.DTO
@using ReserGO.Utils.UI
@using ReserGO.ViewModel.Interface.Header
@using ReserGO.ViewModel.Interface.Home;
@using Microsoft.AspNetCore.Components.Authorization
@using ReserGO.UI.Utils
@using ReserGO.UI.Login
@using ReserGO.ViewModel.Interface.Authentication
@using ReserGO.Miscellaneous.Enum
@inject NavigationManager NaviMngr;
@inherits BaseComponentChild<IHomeViewModel, object>

<div class="d-flex flex-column loginContainter">
    <BaseComponent TViewModel="IHeaderViewModel" TModel="object">
        <Content>
            <Header Title="Studio Rossi" RightTitle="Accedi o Registrati" RightTitleEnabled="true" BackgroundColor="#0066FF" ColorFont="#FFFFF"></Header>
        </Content>
    </BaseComponent>
    @if (CurrentViewModel.ItemsMenu is object && CurrentViewModel.ItemsMenu.Count() > 0)
    {
        <MudPaper Height="100%">
            <MudDrawerContainer>
                <MudDrawer @bind-Open="@_open" Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
                    <MudNavMenu Class="mudDrawer">
                        @foreach (var item in CurrentViewModel.ItemsMenu)
                        {
                            <MudNavLink OnClick="() => ChangeComponent(item)">
                                <MudIcon Icon="@item.Icon" Style="font-size: 3rem;color:white;" />
                                @if (_open)
                                {
                                    <div class="textNavMenu">
                                        @item.Text
                                    </div>
                                }
                            </MudNavLink>
                        }
                    </MudNavMenu>
                </MudDrawer>
                <MudMainContent>
                    @CurrentViewModel.Content
                </MudMainContent>
            </MudDrawerContainer>
        </MudPaper>
    }
</div>


 <BaseComponent TViewModel="ILoginViewModel" TModel="DTOLoginRequest">
        <Content>
            <CardLogin />
        </Content>
    </BaseComponent>


@code {
    private bool _open = true;

    private void ToggleDrawer()
    {
        _open = !_open;
    }
    protected override async Task OnInitializedAsync()
    {
        await CurrentViewModel.OnInitialize();
    }

    public void ChangeComponent(DTOSettingMenu menu)
    {
        CurrentViewModel.SelectedItem = menu;
        CurrentViewModel.ChangeComponent();
    }
}

<style>
    .loginContainter {
        width: 100%;
        height: 100%;
    }

    .textNavMenu {
        color: white;
        display: inline;
        position: relative;
        bottom: 12px;
        font-size: 1.5em;
        padding-left: 10px;
    }

    .mud-nav-link.mud-ripple {
        padding-left: 0;
    }

    .mudDrawer {
        background-color: #0066FF;
    }

    .mud-drawer-content {
        background-color: #0066FF;
    }

    .mud-drawer.mud-drawer-pos-left.mud-drawer--open.mud-drawer--initial.mud-drawer-md.mud-drawer-clipped-never.mud-elevation-1.mud-drawer-mini {
        border-radius: 25px;
        height: 91%;
    }

    .iconDrawer {
        color: white;
    }

    .mud-paper.mud-elevation-1 {
        padding-top: 5px;
    }
</style>